@font-face {
    font-family: bebas;
    src: url("../fonts/Bebas_Neue/BebasNeue-Regular.ttf");
}

html, body{
    width: 100%;
    overflow-x: hidden ;
}

h1,h2,h3,h4,h5,h6{
    font-family: bebas;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    height: 75px;
    width: 100vw;
    background: white;
  
   
}
.nav-toggle{
    display: none;
}
.check{
    display: none;
}

.container{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    padding: 5px;
}
.menu{
  display: flex;
  align-items: center;

}

.menu li{
    list-style: none;
    margin: 10px 20px;
 
}
.special{
    background: #008000;
    color: white;
    padding: 10px 30px;
    border: none;
    font-size: 18px;
    border-radius: 7px;
    cursor: pointer;
}

.menu a{
    text-transform: capitalize;
    text-decoration: none;
       font-size: 22px;
   
    color: #008000;
}

.menu a:hover{
    border: 1px solid #ccc;
    padding: 5px 15px;
    transition: all 0.5s ;
    border-radius: 7px;
}



.logo{
    display: flex;
    align-items: center;
}

.logo h2{
    color: #008000;
    font-size: 35px;
}

.imglog{
    height: 64px;
    margin-right: 10px;
}


/* banner*/

.banner{
    background-image: url("../img/bgbanner.jpg");

    background-size: cover;
    background-repeat: no-repeat;
}

.containerbanner {  display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 1px 6px;
    grid-auto-flow: row;
    grid-template-areas:
      "mensaje credito";
      width: 95%;
      margin:  auto;
  
      padding: 10px;
  }
  
  .mensaje { grid-area: mensaje;
padding: 10px;
margin: 50px auto; 
}
  
  .credito { 
      grid-area: credito; 
      width: 100%;
    padding: 10px;
    margin: 50px auto;
}

  .mensaje h3{
      color: whitesmoke;
      
      font-size: 50px;
      padding: 10px;

  }

  .mensaje p{
      color: whitesmoke;
      font-size: 25px;
      padding: 10px;
  }
  

  .configcredit{
      width: 90%;
      background-color: white;
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
      border-radius: 7px;
      padding: 40px 20px;

      box-shadow:  20px 20px 60px rgb(0, 0, 0);
            

  }

  .configcredit label{
      background-color: #008000;
      color: white;
      padding: 10px 30px;
      border-radius: 7px;
    
  }

  .configcredit input{
      margin-top: 20px;
      width: 100%;
  }

 

  .configcredit p{
      color: rgb(113, 113, 113);
      margin-bottom: 40px ;
  }
  .configcredit .card{
    width: 48%;
 
}

input[type=checkbox]{
 margin: 2px;
}

.inputdiv{
    display: flex;
    width: 200px;    
    color: rgb(113, 113, 113);
}

.separador{
    margin: 20px 0;
    border-bottom: #008000 solid 1px;
    width: 100%;
    
}

.configcredit h1{
    margin-top: -30px;
    color: #008000;
}

.continput{
    width: 100%;

padding: 10px;
display: flex;
}

.btnbanner{
background: #008000;
padding: 10px;
color: white;
border-radius: 7px;
border: none;
margin-left: 5px;
cursor: pointer;
}

.inputnumber{
border: #008000 1px solid;
padding: 10px;
margin-right: 5px;
border-radius: 7px;
}

.contenlogos{
    display: flex;
    margin-top: -25px;
    margin-bottom: 25px;
    justify-content: space-between;
    align-items: center;
}

.contenlogos strong{
    color: rgb(91, 91, 91);
}

.contenlogos img{
    width: 70px;
    cursor: pointer;
}

.contmedidor{
    color: #008000;
    margin: 25px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contmedidor img{
    width: 30%;
}

.contmedidor h3{
font-size: 26px;
}


/*section gestion*/

.gestion{
    background-color: rgb(255, 255, 255);
    padding: 10px;
}
.gestion h1{
    color: #008000;
    text-align: center;
    font-size: 50px;
    margin: 20px auto;
    
}

.cardgestion img{
    max-width: 90%;
}

.contgestion{
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    margin: auto;
    justify-content: space-between;
    
}
.spe{
      
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.contcardges{
    width: 25%;
    max-width: 150px;
    margin: 10px ;
    
 display: flex;
 justify-content: center;
 flex-wrap: wrap;
}

.contcardges P{
    text-align: center;
    color: rgb(91, 91, 91);
    font-weight: bold;
}
.cardgestion{
    width: 48%;
    padding: 10px;
    
    margin: 20px auto;
   
}


/*somos */

.somos{
    background: rgb(241, 241, 241);
    padding: 10px;
  
 

}

.contensomos{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    padding: 10px;
}


.cardsomos{
    padding: 10px;
width: 90%;
    max-width: 500px;
}

.cardsomos h2{
    background-color: #008000;
    color: white;
    padding: 10px ;
    text-align: center;
    border-radius: 7px;
    margin: 10px auto;
    width: 90%;
    max-width: 350px;

}

.cardsomos p {
    text-align: justify;
    color: rgb(110, 110, 110);
    margin: 40px auto;
}

.cardsomos ul{
    margin: 40px auto;
}
.cardsomos li{
    text-align: justify;
    color: rgb(110, 110, 110);
    
}

.separadorsomos{
    border-left: red 3px solid;
    height: 250px;
}

.titusomos{
    color: #008000;
    text-align: center;
    margin: 20px auto;
    font-weight: bold;
    font-size: 30px;
}

.solucionessomos{
    width: 90%;
    margin: 25px auto;
}

.solucionessomos ul{
    display: flex;
    justify-content: space-around;
    margin: 25px auto;
}

.solucionessomos li{
    margin: auto 10px;
    font-size: 20px;
    color: rgb(110, 110, 110);
}

.solucionessomos img{
    width: 150px;
}

.titusomos2{
padding: 10px;
background: #008000;
color: white;
border-radius: 7px;
text-align: center;
width: 90%;
max-width: 400px;
margin: 20px auto;
}


/*foooter*/

footer{
    background: url("../img/bgbanner.jpg");
 display: flex;
 flex-wrap: wrap;
 justify-content: space-around;
 padding: 10px;
}



.cardfooter{
    width: 90%;
    max-width: 300px;
     padding: 20px;
     border-left: 5px solid white;
     background: rgba(105, 105, 105, 0.348);
     
     box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.373);
   

}
.speci{

display: flex;
justify-content: center;
}
.cardfooter img{
    width: 120px;
    height: 120px;
}


.cardfooter h2{
    color: white;
    font-weight: 200;
}

.cardfooter li{
    color: white;
}

@media (max-width: 950px ){


    .containerbanner{
        
        grid-template-columns: 90%;
        grid-template-rows: 0fr;
        grid-auto-columns: 1fr;
        grid-auto-rows: 1fr;
        gap: 1px 6px;
        grid-auto-flow: column;
        grid-template-areas:
          "mensaje mensaje"
          "credito credito";
       
    }

    .mensaje{
        
        justify-content: center;
    }

    .credito{
        display: flex;
        justify-content: center;
    }

    .contmedidor h3{
        font-size: 20px;
        }
/*gestion*/
.contgestion{
    flex-wrap: wrap;
    justify-content: center;
}

.cardgestion{
width: 90%;
display: flex;
justify-content: space-around;
}



/*somos*/

.contensomos{
    
    justify-content: space-around;
    
}

.separadorsomos{
    display: none;
}

}


@media(max-width:760px){
    .configcredit{
        flex-wrap: wrap;
    }
   .configcredit .card{
        width: 90%;
       
     
    }

    .mensaje h3{
      
        
        font-size: 40px;
      
  
    }

    .gestion h1{
        font-size: 30px;
    }

    .cspe{
        display: flex;
        justify-content: center;
    }

    .check{
        display:none
      }
      .nav-toggle{
        margin-top: 20px;
        color: #008000;
        display: block;
        
      }
    .container{
        position: relative;
     
    }


    #check:checked ~ .menu{
       top: 75px;
       
      }

  .menu{
    position: absolute;
    top: -1000%;
    background-color: #008000bd;
    left:-30px;
    transition: 0.5s;
    display: list-item;
    width: 90vw;
  
  }

  .menu a{
      color: white;
     
  }

  .menu li{
      margin: 25px 40px;
  }

  .special{
      background: white;
      color: #008000;
  }


  .solucionessomos ul{
      display: list-item;
  }

  .titusomos2{
      width: 300px;
  }

}